annotated-doc
annotated-types
anyio
cffi
click
colorama
cryptography
ecdsa
fastapi==0.109.0
greenlet
h11
idna
joblib
numpy
pandas
passlib[argon2]
argon2-cffi
psycopg2-binary
pyasn1
pycparser
pydantic[email]==2.5.0
pydantic_core
python-dateutil
python-jose
python-multipart
rsa
scikit-learn
scipy
six
SQLAlchemy==2.0.23
starlette==0.35.0
threadpoolctl
typing-inspection
typing_extensions
tzdata
uvicorn==0.27.0
xgboost
email-validator
python-dotenv
fastapi-mail